<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    .profile {
            text-align: center; 
            margin-top: 20px;
        }
        .profile img {
            border-radius: 50%;
        }
        u{
          align-items: center;
        }

  </style>
  <link rel="stylesheet" href="style.css">
</head>
<body>

<ul>
    <li><a href="profile.html">Profile</a></li>
    <li><a href="Signin.html">Signin</a></li>
    <li><a href="login.html">Login</a></li>

  <li><a href="acc.html">Academics</a></li>
  <li><a href="hob.HTML">Hobbies</a></li>
  <li><a href="ach.HTML">Achievement</a></li>
  <li><a href="sta.HTML">Startup ideas</a></li>
  <li><a href="crs.HTML">crs</a></li>
  <li><a  class="active"  href="home.html">Home</a></li>
  <li2><H1><a href="home.html">BLOCKSTATS</a></H1></li2>
  </ul>
  

        <div class="profile">
         <div class="image"> <img src="photo.jpg" alt="My Photo" width="150" height="150"></div>
         <br>
    <B>ADAJANIYA  PUSHPRAJSINH  BHAVESHSINH</B>
          <br>
          <br>
          <div class="container2">
          <p>My name is Pushpraj from surat. Currently, I am pursuing my B.Tech Degree in Computer Engineering from Dharmsinh Desai University. I am very passionate about programming and I love to learn new things. I am a good team player and always ready to help my team members.</p>
      <br></div>
      <footer>
        <p><a href="mailto:23ceuos001@ddu.ac.in"> 23ceuos001@ddu.ac.in</a></p>
       <p> &copy; 2024 created by : Pushpraj</p>
      </footer>

</body>
</html>


